:root {
   --primary-text-color: ;
   --secondary-text-color: ;

   --primary-background-color: ;
   --secondary-background-color: ;

   --accent-text-color: ;

   --logo-text-color: ;

   --white-color: #ffffff;

   --border-color: ;

   --icon-color: ;
}

// :root {
//    $primary-text-color: ;
//    $secondary-text-color: ;

//    $primary-background-color: ;
//    $secondary-background-color: ;

//    $accent-text-color: ;

//    $logo-text-color: ;

//    $white-color: #ffffff;

//    $border-color: ;

//    $icon-color: ;
// }